<a href="https://colab.research.google.com/github/AKANKSHAKUMARI533/python_Learning/blob/main/notebooks/Python_Programming_Fundamentals_Ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First Program**

In [ ]:

def main():
  print('hello world!')

main()

hello world!

*   **def** - keyword (for define a function)
*   **:** - expect an indented block
*   **Indentation** - giving proper amount of spaces
*   **print** - built in function - prints something on screen (stdout)
*   **Built-in**- something that ships with python

**Variable & Constant**

Variable values can be updated, constants should not

In [ ]:
PI = 3.14
radius = 5

area = PI * radius * radius

print(area)

78.5

In [ ]:
_about = 'akanksha'

print(_about)

akanksha

**DataTypes and Collections**

In [ ]:
wholenumber = 10      #int
decimalnumber = 10.5  #float
text = 'akanksha'     #string
truefalse = True      #boolen
changeablecollection = [1,2,3] #list
fixedcollection = (1,2,3)      #tuple
uniquevalues = {1,2,3}         #set
keyvaluepairs = {"a":1,"b":2}  #dictionary

In [ ]:
print(wholenumber,decimalnumber,text,truefalse,changeablecollection, fixedcollection, uniquevalues, keyvaluepairs )

#type() Data type check
print(type(wholenumber),type(decimalnumber),type(text),type(truefalse),type(changeablecollection),
      type(fixedcollection), type(uniquevalues), type(keyvaluepairs) )

10 10.5 akanksha True [1, 2, 3] (1, 2, 3) {1, 2, 3} {'a': 1, 'b': 2}
<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

**Input & Output in Python**

input() always returns a string

In [ ]:
name = input("Enter your name: ")
print(name)

Work_Experience = int(input("Enter Work Experience: "))
print(Work_Experience)

Working_hour = float(input("Enter Working Hour per day: "))
print(Working_hour)

Work_Experience = str(Work_Experience)
Working_hour = str(Working_hour)

print(name + "'s work ex. is " + Work_Experience + ' years & working hour per day is '+ Working_hour)

Enter your name: Akanksha
Akanksha
Enter Work Experience: 6
6
Enter Working Hour per day: 8.5
8.5
Akanksha's work ex. is 6 years & working hour per day is 8.5

**Operators**

help assign, compare, and test conditions.

In [ ]:
x = 10
y = 5

print('Arithmetic Operators')
print('Addition of x and y', x + y)         # Addition. 15
print('Subtraction of x and y', x - y)      # Subtraction 5
print('Multiplication of x and y', x * y)   # Multiplication 50
print('Division of x and y', x / y)         # Division 2.0
print('Modulus of x and y', x % y)          # Modulus 0
print('x power y', x ** y, end="\n\n")      # Power 100000

print('Assignement Operators')
x += 20
print(x)  # 30
x -= 10
print(x)  # 20
x *= 2
print(x)  #40
x /= 2
print(x, end="\n\n")  #20.0

print('Comparison Operators')
print(10 == 10) #True
print(10 != 5)  #True
print(10 > 5)   #True
print(10 < 5)   #False
print(10 >= 10) #True
print(10 <= 5, end="\n\n")  #False

print('Logical Operators')
print(10 > 5 and 5 > 2)           #True
print(10 > 5 or 5 < 2)            #True
print(not (10 > 5), end="\n\n")   #False

print('Membership Operators')
print("a" in "Akanksha")       #True
print("a" not in "Akanksha")   #False
print("x" not in "Akanksha", end="\n\n")   #True

print('Identity Operators')
a = 10; b = 10
print(a is b)       #True
print(a is not b)   #False

Arithmetic Operators
Addition of x and y 15
Subtraction of x and y 5
Multiplication of x and y 50
Division of x and y 2.0
Modulus of x and y 0
x power y 100000

Assignement Operators
30
20
40
20.0

Comparison Operators
True
True
True
False
True
False

Logical Operators
True
True
False

Membership Operators
True
False
True

Identity Operators
True
False

**Python string functions** help modify, check, search, and format text efficiently using built-in methods.
Strings are immutable
These functions do not change the original string, they return a new one.

In [ ]:
#Case Conversion
StrFun = 'Akanksha Hello World!'
print(StrFun.upper())         #Converts to uppercase. AKANKSHA HELLO WORLD!
print(StrFun.lower())         #Converts to lowercase. akanksha hello world!
print(StrFun.capitalize())    #First letter uppercase.  Akanksha hello world!
print(StrFun.title())         #First letter of each word uppercase .  Akanksha Hello World!
print(StrFun.swapcase())      #Upper â†” Lower case.  aKANKSHA hELLO wORLD!

AKANKSHA HELLO WORLD!
akanksha hello world!
Akanksha hello world!
Akanksha Hello World!
aKANKSHA hELLO wORLD!

In [ ]:
#Space Removing Functions
StrFun = ' Hello Akanksha '
print(StrFun.strip())     #Removes spaces from both ends. -- Hello Akanksha
print(StrFun.rstrip())    #Removes spaces from right.     --  Hello Akanksha
print(StrFun.lstrip())    #Removes spaces from left.      -- Hello Akanksha

Hello Akanksha
 Hello Akanksha
Hello Akanksha

In [ ]:
#Searching & Checking Functions
StrFun = 'Hello Akanksha'
print(StrFun.find('a'))             #Finds index of substring - 8
print(StrFun.index('A'))            #Like find (error if not found) - 6
print(StrFun.startswith('hello'))   #Checks starting word - False
print(StrFun.endswith('a'))         #Checks ending word - True
print(StrFun.count('a'))            #Counts occurrences - 2

8
6
False
True
2

In [ ]:
#Type Checking functions
StrFun, StrFunU, StrFunL, StrFunD, StrFunAlNum, StrSpace= 'Akanksha', 'AKANKSHA', 'akanksha', '1234', 'ak123', ' '
print(StrFunU.isupper())        #All uppercase
print(StrFunL.islower())        #All lowercase
print(StrFun.isalpha())         #Only letters
print(StrFunD.isdigit())        #Only numbers
print(StrFunAlNum.isalnum())    #Letters + numbers
print(StrSpace.isspace())       #Only spaces

True
True
True
True
True
True

In [ ]:
#Replace, Split & Join
StrFun = 'I Love JAVA'

print(StrFun.replace('JAVA','Python'))    #Replace text
print(StrFun.replace('java','Python'))

print(StrFun.split(' '))                  #Split string into list

StrJoin = ['I','love','Data']

print(" ".join(StrJoin))                  #Join list into string

I Love Python
I Love JAVA
['I', 'Love', 'JAVA']
I love Data

In [ ]:
#Length & Formatting
Name = 'Akanksha'
Work_Experience = 6

print(len(Name))    #Length of string

#Format string
print("{}'s work experience is {} years".format(Name,Work_Experience))

8
Akanksha's work experience is 6 years